body {
    background: #383838;
    background-image: url(/images/djBackground.png);
    background-size: 100%;
}

#content{
    margin: 0px;
    padding: 0px;
}

.main-H1 {
    position: absolute;
    right: 0;
}

video {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    height:auto;
    padding: 0px;
    margin: 0px;
}

/* header */
#main-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #1a535c;
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    padding-left: 0px;

}

.main-h1{
    padding-left: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    margin: auto;
    font-family: cursive;
    color: #4ecdc4;
   
}

.li1 {
    border : solid 1px #0c343d;
    background : #4ecdc4;
    list-style-type: none;
    padding: 5px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 5px;
}

.li1 a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}


/* body */

#main-content {
    margin: 0px;
}

.one {
    background: #4ecdc4;
    padding: 20px;
    border: 1px solid #0c343d;
    margin-top: 75px;
    border-radius: 5px;
}

.five {
    background: #4ecdc4;
    padding: 20px;
    border: 1px solid #0c343d;
    margin-top: 75px;
    border-radius: 5px;
}

.two {
    background: #4ecdc4;
    padding: 20px;
    border: 1px solid #0c343d;
    margin-top: 15px;
    border-radius: 5px;
}

.six {
    background: #4ecdc4;
    padding: 20px;
    border: 1px solid #0c343d;
    margin-top: 15px;
    border-radius: 5px;
}

.h2-Home a {
    list-style-type: none;
    text-decoration: none;
}

.home-image1 {
    padding-top: 20px;
}

.home-header {
    padding-bottom: 10px;
}
.three {
    width: 150px;
    border: 1px solid #0c343d;
}

.hide {
    display: none;
}

#hamburger {
    padding: 10px;
}
  
  
#hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}


/* Topography */

@media only screen and (min-width: 768px){

    .columns {
        display: flex;
    }

    .columns1{
        display: flex;
    }

    .five {
        flex: 1;
    }

    .six {
        flex: 1;
    }
    
    .four {
        display: flex;
    }
    
    #main-content1 {
        display:flex; 
    }

    .topLinks {
        display: flex;
    }

    #main-header {
        display: flex;
    }

    .one {
        flex: 1;
    }

    #main-content2 {
        display:flex;
    }

    .two {
        flex: 1;
    }

    .topLinks{
        position: absolute;
        right: 0;
        margin-top: 10px;
        padding-left: 10px;
    }

    #hamburger {
        display: none;
    }


}

@media only screen and (max-width:768px){

    .columns1 {
        display: flex;
    }

    .main-h1{
        display: flex;
    }
    
    #hamburger {
        margin-left: 90%;
        margin-top: 0px;
        position: absolute;
        top: 0;
    }

    #nav-items{
        flex:1;
    }

    .li1 {
        border: none;
        margin: none;
    }

    #topLinksId{
        padding-top: 0px;
        margin-top: 0px;
        padding-left: 0px;
    }

    .one {
        margin-top: 90px;
    }
    
    /*
    .li1 {
        margin-right:5px;
        margin-left: 5px;
        width:100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    */

    .five {
        padding-top: 0px;
        margin-top: 0px;
    }

    .six {
        padding-top: 0px;
        margin-top: 0px;
    }
    
}

